{% extends "base.html" %}
{% block title %}Gig Invitations{% endblock title %}

{% block content %}
<h1>Gig Invitations: {{ object_list|length }}</h1>

<p>
    <a href="{% url 'gig_list' %}">Upcoming Gigs</a> | 
    <a href="{% url 'gig_history' %}">Gig history</a> 
</p>
{% for gig in object_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ gig.title }}</span> 
        &middot {{ gig.event_date }} | Bandleader:
        <span class="text-muted">
            {{ gig.bandleader }}
        </span> |
        <a href="{% url 'gig_detail' gig.pk %}">Details</a>
    </div>
    <div class="card-body">
        {{ gig.location.name }} &middot {{ gig.location.city }}, {{ gig.location.state }} 
        <p>Pay: ${{ gig.pay }}</p>
    </div>
</div>
<br />

{% endfor %}
{% endblock content %}