{% extends "base.html" %}
{% block title %}Gig History{% endblock title %}

{% block content %}
<h1>Gig History</h1>
<p>
    <a href="{% url 'gig_list' %}">Upcoming gigs</a> | 
    <a href="{% url 'gig_invitations' %}">Gig Invitations</a>
</p>
{% for gig in object_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ gig.title }}</span> 
        &middot {{ gig.event_date }} | Bandleader:
        <span class="text-muted">
            {{ gig.bandleader }}
        </span> |
        <a href="{% url 'gig_detail' gig.pk %}">Details</a>
    </div>
    <div class="card-body">
        {{ gig.location.name }} &middot {{ gig.location.city }}, {{ gig.location.state }} 
    </div>

    <div class="card-footer text-center text-muted">
        <a href="{% url 'gig_edit' gig.pk %}">Edit</a> |
        <a href="{% url 'gig_delete' gig.pk %}">Delete</a>
    </div>
</div>
<br />

{% endfor %}
{% endblock content %}