{% extends "base.html" %}
{% block title %}Gig History{% endblock title %}

{% block content %}
<p><a href="{% url 'gig_list' %}">Upcoming gigs</a></p>
{% for gig in object_list %}

{% if user == gig.bandleader %}
<div class=" card">
    <div class="card-header">
        <span class="font-weight-bold">{{ gig.title }} </span> &middot {{ gig.event_date }} <span
            class="text-muted"></span>
        <a href="{% url 'gig_detail' gig.pk %}">Details</a>
    </div>
    <div class="card-body"></div>

    <div class="card-footer text-center text-muted">
    </div>
</div>
<br />
{% endif %}
{% endfor %}
{% endblock content %}