{% extends "base.html" %}
{% block content %}
<div class="tune-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.event_date }}</p>
    <p>@ {{ object.location.name }} {% if object.location.website %}
        <a href={{ object.location.website}}>Website</a>
        {% endif %}
        {{ object.location.address_1 }},
        {{ object.location.city }} | {{ object.location.state }}
    </p>

    <p>Engagement: {{ object.start_time }} - {{ object.end_time }}</p>
    <p>Pay: ${{ object.pay }}</p>

    <p>Setlist:</p>
    <ul>
        {% for tune in object.setlist.tunes.all %}
        <li>
            <a href="{% url 'tune_detail' tune.pk %}">{{ tune.title }}</a>
        </li>


        {% endfor %}
    </ul>


</div>
<p><a href="{% url 'gig_edit' gig.pk %}">Edit</a> |
    <a href="{% url 'gig_delete' gig.pk %}">Delete</a>
</p>
<p>Back to <a href="{% url 'gig_list' %}">Back to upcoming gigs.</a></p>
{% endblock content %}