{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="tune-entry">
    <h2>{{ object.title }}</h2>
    <p>{{ object.event_date }}</p>
    <p>@ {{ object.location.name }} 
        {% if object.location.website %}
        <a href={{ object.location.website}}>Website</a>
        {% endif %}
        {{ object.location.address_1 }},
        {{ object.location.city }} | {{ object.location.state }}
    </p>
    <p>Bandleader: {{ object.bandleader }}</p>

    <p>Engagement: {{ object.start_time }} - {{ object.end_time }}</p>
    <p>Pay: ${{ object.pay }}</p>

    <p>Setlist:</p>
    <ul>
        {% for tune in object.setlist.tunes.all %}
        <li>
            <a href="{% url 'tune_detail' tune.pk %}">{{ tune.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% if object.personnel.all %}
    <p>Unconfirmed Personnel:</p>
    <ul>
        {% for user in object.personnel.all %}
        <li>
            {{ user.username }}: {{ user.instrument }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Confirmed Personnel:</p>
    <ul>
        {% for user in object.acccepts.all %}
        <li>
            {{ user.username }}: {{ user.instrument }}
        </li>
        {% endfor %}
    </ul>
    {% if user == gig.bandleader %}
    <p>Personnel that declined:</p>
    <ul>
        {% for user in object.declines.all %}
        <li>
            {{ user.username }}: {{ user.instrument }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <br/>
    <hr>
    <br/>
    <h3>Accept/Decline?</h3>
    <div style="display:inline;">
        <span style="float:left; display:block;">
        <form action="{% url 'accept_gig' gig.pk %}" method="post">{% csrf_token %}
            {{ form|crispy }}
            <button 
                class="btn btn-success ml-2" 
                type="submit" 
                name="gig_id" 
                value="{{ gig.id }}">Accept Gig
            </button>
        </form>
        </span>
        <span style="float:left; display:block;">
        <form action="{% url 'decline_gig' gig.pk %}" method="post">{% csrf_token %}
            {{ form|crispy }}
            <button 
                class="btn btn-danger ml-2" 
                type="submit" 
                name="gig_id" 
                value="{{ gig.id }}">Decline Gig
            </button>
        </form>
        </span>
    </div>  
    

<br>
<br>
<div>
{% if user == object.bandleader %}
<p><a href="{% url 'gig_edit' gig.pk %}">Edit</a> |
    <a href="{% url 'gig_delete' gig.pk %}">Delete</a>
</p>
{% endif %}
<br>
<br>
<p><a href="{% url 'gig_list' %}">Upcoming Gigs</a></p>
{% endblock content %}
</div>