{% extends "base.html" %}
{% block content %}
<div class="tune-entry">
    <h2>{{ object.title }}</h2>
    <hr>
    <p>by {{ object.composer }} | {{ object.key }} | {{ object.genre }}</p>
    <br>
    <p>Arrangement Notes: {{ object.notes }}</p>
    <br>
    {% if object.pdf %}
    <p>Chart: <a href="https://{{ AWS_STORAGE_BUCKET_NAME }}.s3.amazonaws.com/static/{{ tune.pdf }}">PDF</a></p>
    {% endif %}
    <hr>
    {% if user == object.performer %}
    <p>
        <a href="{% url 'tune_edit' tune.pk %}">Edit</a> |
        <a href="{% url 'tune_delete' tune.pk %}">Delete</a>
    </p>
    {% endif %}
    
    <p>Back to <a href="{% url 'index' %}">tune library</a>.</p> 
</div>


{% endblock content %}