{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Tunes{% endblock title %}

{% block content %}
<a href="{% url 'tune_new' %}"> + Add a new tune</a>

<form method="GET">{% csrf_token %}
    {{ filter.form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Search</button>
</form>

<br>
{% for tune in filter.qs %}

{% if user == tune.performer %}
<div class=" card">
    <div class="card-header">
        <span class="font-weight-bold">{{ tune.title }} </span> &middot; <span class="text-muted">
            {{ tune.composer }}</span>
        <a href="{% url 'tune_detail' tune.pk %}">Details</a>


    </div>
    <div class="card-body">
        Key: {{ tune.key }} </div>
    <div class="card-footer text-center text-muted">
        <a href="{% url 'tune_edit' tune.pk %}">Edit</a> |
        <a href="{% url 'tune_delete' tune.pk %}">Delete</a>
    </div>
</div>
<br />
{% endif %}
{% endfor %}
{% endblock content %}