{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
Hi {{ user.first_name }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'tune_list' %}">Tune library</a></p>
<p><a href="{% url 'setlist_collection' %}">Setlists</a></p>
<p><a href="{% url 'gig_list' %}">Upcoming Gigs</a></p>
<p><a href="{% url 'gig_history' %}">Gig History</a></p>
<p><a href="{% url 'gig_invitations' %}">Gig Invitations</a></p>
<p><a href="{% url 'venue_list' %}">Venues</a></p>
<p><a href="{% url 'call_list' %}">Call list</a></p>
<hr>
{% else %}
<br>
<h1>How to use GigForte:</h1>
<ul>
    <li><a href="https://www.loom.com/share/8f0b57a0ad6848a88a633aff4035a891">Add some tunes.</a></li>
    <li><a href="https://www.loom.com/share/5b9be8825d394aeb8b935461f87abad5">Create a setlist.</a></li>
    <li><a href="https://www.loom.com/share/5b32ac6467204c6d879f803b852b6776">Add venues.</a></li>
    <li><a href="https://www.loom.com/share/75729a6ee37344809910b75c8137ee3d">Book a gig!</a></li>
</ul>
<br>

<hr>
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>

{% endif %}
{% endblock content %}