{% extends "base.html" %}
{% block title %}GigForte{% endblock title %}
{% block content %}

<!-- If logged in -->
{% if user.is_authenticated %}
Hi {{ user.first_name }}!
<p><a href="{% url 'tune_list' %}">Tune library</a></p>
<p><a href="{% url 'setlist_collection' %}">Setlists</a></p>
<p><a href="{% url 'gig_list' %}">Upcoming Gigs</a></p>
<p><a href="{% url 'gig_history' %}">Gig History</a></p>
<p><a href="{% url 'gig_invitations' %}">Gig Invitations</a></p>
<p><a href="{% url 'venue_list' %}">Venues</a></p>
<p><a href="{% url 'call_list' %}">Call list</a></p>
<p><a href="{% url 'compute_expenses' %}">Personnel Expense Calculator</a></p>
<hr>

{% else %}

<!-- Description of app -->
<section class="p-md-5">
    <div class="container text-center">   
        <h1>GigForte</h1> 
        <hr class="w-50 mx-auto">
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 pb-3">
                <p class="lead">An app for busy, professional musicians and bandleaders that want to spend less time at their desk and more time with their craft. You didn&#8217t practice all of those hours so that you could sit at your computer writing emails. You want to be at your instrument; arranging and creating. GigForte is here to help you handle the annoying side of bandleading so that you can focus your attention on what&#8217s important, the music.   
                </p> 
            </div>
        </div>
    </div>
</section>
<hr class="w-50 mx-auto">
<!-- Task outline -->
<section class="p-md-5">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 pb-3">
                <h2>Simplify the administrative aspects of bandleading.</h2>
                <div class="lead">
                    <p>Store and organize sheet music.</p>
                    <p>Keep track of venue and personnel contacts.</p>
                    <p>Store full dossiers on past and upcoming gigs.</p>
                    <p>Easily share clear, understandable gig details with personnel.</p>      
                </div>
            </div>
        </div>
    </div>    
</section>
<hr class="w-50 mx-auto">
<section class="p-md-5">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 pb-3">
                <h2>How it works...</h2>
                <div class="lead">
                    <p>1. <a href="https://www.loom.com/share/8f0b57a0ad6848a88a633aff4035a891"> Add tunes</a> &#8212 Keep track of all the tunes you currently play, as well as tunes you've played for past jobs in a searchable tune library.</p>
                    <p>2. <a href="https://www.loom.com/share/5b9be8825d394aeb8b935461f87abad5">Create setlists (optional)</a> &#8212 Once you have your tune library set up, you can make setlists for each gig you play, or reuse past setlists for similar or recurring events.</p>
                    <p>3. <a href="https://www.loom.com/share/31652a270d494d7aa3ea1dfff5c0e005">Add contacts</a> &#8212 Populate your call list with other users. If your musicians aren't using the app, it's really easy to invite them with using the invite page.</p>
                    <p>4. <a href="https://www.loom.com/share/75729a6ee37344809910b75c8137ee3d">Create and store gig dossiers</a> &#8212 Store all of the critical details of your event in ONE place; location, start/end time, break schedule, setlist, personnel, and all the other extraneous details that need to be hashed out when organizing an event.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup button -->
<div class="container text-center">
    <hr class="w-50 mx-auto">
    <a href="{% url 'signup' %}" class="btn btn-primary btn-lg btn-block">Create an account!</a>
</div>
<br>

{% endif %}
{% endblock content %}
